html,
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}
img {
  display: block;
  padding: 0.5rem;
  transition: background-color 0.15s ease-in-out;
}
img:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.counter {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 4rem;
  padding: 1rem;
  background-color: rgba(36, 36, 36, 0.9);
  color: rgb(232, 255, 177);
  font: 2rem "Kirang Haerang", cursive;
  text-align: center;
  box-shadow: -1px 1px 15px 5px rgba(0, 0, 0, 0.25);
}
