  .lavender-text {
    color: #b0aac2;
  }

  p {
    font-size: 20px;
    font-family: sans-serif;
    margin: 60px;
  }

  h1 {
    font-family: amatic sc;
    sans-serif;
    font-size: 100px;
    padding: -20px;
    margin: -40px;
  }

  h2 {
    font-family: amatic sc;
    sans-serif;
    font-size: 60px;
  }
}
