@import url("https://fonts.googleapis.com/css?family=News+Cycle|Open+Sans");

html,
body {
  font: 100%/1.5 "Open Sans", sans-serif;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "New Cycle", sans-serif;
  font-weight: normal;
}
h1 {
  border-bottom: 1px rgb(0, 0, 0, 15%) solid;
}
.content {
  max-width: 960px;
  margin: auto;
}
.Characters,
.CharacterProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.CharacterProfile-text {
  flex: 1 1 calc(20% - 0.5rem);
}
@media (min-width: 960px) {
  .Characters > * {
    flex: 1 1 calc(20% - 0.5rem);
  }
}
.CharacterProfile-image {
  margin-right: 1rem;
}
.rounded {
  border-radius: 50%;
}
.button {
  display: inline-block;
  background-color: #7d6c8d;
  color: white;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
